<div class ="about">
  <div class = "about__profile">
    <div class ="sbout__">
    <p>
      Prolife
    </p>
  </div>
  <div class ="profile__text">
    <p>
      私の名前はhogeです
    </P>
  </div>
</div>