<div class ="about">
  <div class = "about__profile">
    <div class ="about__profile__title">
      <p>
        Prolife
      </p>
    </div>
    <div class ="about__profile__text">
      <p>
        西澤 政徳 ( Masanori Nishizawa )<br>
        本田技研工業株式会社を退職後、2020年10月株式会社C-mind入社<br>
        　入社以前Ruby
      </P>
    </div>
  </div>
</div>