<div class ="about">
  <div class = "about__profile">
    <div class ="about__profile__title">
      <p>
        Prolife
      </p>
    </div>
    <div class ="about__profile__text">
      <div class = "about__profile__textArea__text">
        <p>
          私の名前はhogeです
        </P>
        </div>
    </div>
  </div>
</div>