<header class="page_header">
  <h1 class="name">
    <a href = "top">Masanori Nishizawa</a>
  </h1>
  <nav class="menu">
    <ul>
      <li>
        <a href = "#"> about me </a>
      </li>
      <li>
        <a href = "#"> work </a>
      </li>
      <li>
        <a href = "https://docs.google.com/forms/d/e/1FAIpQLSeQ2pxq3NRuulQT-fyPV9BHEGKXXlUuNm6AD9vqnQGTN_S9OQ/viewform"> contact </a>
      </li>
    </ul>
  </nav>
</header>