<header class="page_header">
  <h1 class="name">
    <a href = "top">Masanori Nishizawa</a>
  </h1>
  <nav class="menu">
    <ul>
      <li>
        <a href = "#"> about me </a>
      </li>
      <li>
        <a href = "#"> work </a>
      </li>
      <li>
        <a href = "https://docs.google.com/forms/d/1wfV1_h-ATZiwrqjr-AO_AVIrzlT__JO_10PTbGQtPyU/edit#responses"> contact </a>
      </li>
    </ul>
  </nav>
</header>