<header>
  <div class = "contents">
    <nav class = "menus">
      <ul class = menu>
        <li>
          <a href = "#">
            <p>about</p>
          </a>
        </li>
          <a href = "#">
            <p>work</p>
          </a>
        </li>
         <a href =>
            <p>contact</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>