<header>
  <div class = "contents">
    <nav class = "menus">
      <ul class = menu>
        <li>
          <a href = "#">
            <p>about</p>
          </a>
        </li>
        <li>
          <a href = "#">
            <p></p>
          </a>
        </li>
        <li>
          <a href = "#">
            <p>skill</p>
          </a>
        </li>

        <li>
         <a href = "https://docs.google.com/forms/d/e/1FAIpQLSeQ2pxq3NRuulQT-fyPV9BHEGKXXlUuNm6AD9vqnQGTN_S9OQ/viewform" target="_blank">
            <p>contact</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>