<header>
  <div class = "contents">
    <nav class = "menus">
      <ul class = menu>
        <li>
          <a>
            <p></p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>