@import"reset";
@import"top";

@font-face {
  font-family: 'fontopoNEUTRAL';
  src: font-url('fontopoNEUTRAL-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontopoSunnyDay';
  src: font-url('fontopoSunnyDay-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
boby{
  background-color: f5f5f5;
}