@import"reset";
@import"top";

@font-face {
  font-family: 'TfontopoNEUTRAL-Regular';
  src: font-url('/Users/nishizawamasanori/Portfolio/app/assets/fonts/Century-Light.suit') format('truetype');
  font-weight: normal;
  font-style: normal;
}