@import"reset";
@import"top";

@font-face {
  font-family: 'fontopoNEUTRAL';
  src: font-url('/Users/nishizawamasanori/Portfolio/app/assets/fonts/fontopoNEUTRAL-Regular.otf') format('ruettype');
  font-weight: normal;
  font-style: normal;
}