header{
  .contents{
    width: 300px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    ul{
      li{

        a{
          p{
            color: palevioletred;
          }
        }
      }
    }
  }
}