.page_header{
  width: ;
  background-color: red;
  display: flex;
  .name{
    a{

    }
  }
  nav{
    margin-right: 20px;
    ul{
      display: flex;
      list-style: none;
      li{
        padding: 20px;
        a{

        }
      }
    }
  }
}

