header{
  height: 100px;
  width: 100%;
  .contents{
    width: 300px;
    margin: auto;
    ul{
      
      li{

        a{
          p{
            color: palevioletred;
          }
        }
      }
    }
  }
}