.page_header{
  background-color: red;
  display: flex;
  .name{
    a{

    }
  }
  nav{
    ul{
      display: flex;
      list-style: none;
      margin-right: 10px;
      li{
        padding: 20px;
        a{

        }
      }
    }
  }
}

