header{
  .contents{
    width: 300px;
    height: 100px;
    margin: auto;
    ul{
      display: flex;
      t
      li{

        a{
          p{
            color: palevioletred;
          }
        }
      }
    }
  }
}