header{
  .contents{
    width: 300px;
    height: 100px;
    margin: auto;

    ul{
      display: flex;
      display: flex;
      li{
        align-items: center;
        justify-content: center;
    
        a{
          p{
            color: palevioletred;
          }
        }
      }
    }
  }
}