header{
  height: 100px;
  width: 100%;
  .contents{
    ul{
      margin: auto;
      display: flex;
      align-items: center;
      text-align: center;

      li{

        a{
          p{
            color: palevioletred;
          }
        }
      }
    }
  }
}